{% extends "base.html" %}
{% load static i18n %}

{% block title %}Project: {{ project.project_name }}{% endblock %}

{% block sidebar %}
  {% include "sidebar.html" %}
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-sm-12">
    {% if project.tester == request.user %}
      <h1>{{ project.project_name }} <a class="btn btn-primary" href="{% url 'tracker:update' project.project_name|slugify %}" role="button">Edit</a></h1>
    {% endif %}

    {% if project.project_name %}
      <p><b>Type:</b> {{ project.type_of_project }}</p>
      <p><b>Start Date:</b> {{ project.start_date|date:"F j, Y" }}</p>
      <p><b>End Date:</b> {{ project.end_date|date:"F j, Y" }}</p>
      <p><b>Staging Site:</b> {{ project.staging_site }}</p>
      <p><b>Production Site:</b> {{ project.production_site }}</p>

    {% endif %}
  </div>
</div>

<div class="row">
  {% if project.tester == request.user %}
  <!-- Action buttons -->
  <div class="col-sm-12">
    <h2>Recent Bugs <a class="btn btn-primary btn-margin-top" href="{% url 'tracker:newbug' project.project_name|slugify %}" role="button">Submit Bugs</a></h2>
  </div>
  {% else %}
  <div class="col-sm-12">
    <h2>Recent Bugs</h2>
  </div>
  <!-- End Action buttons -->
  {% endif %}
</div>

<!-- list of bugs in specific project -->
{% include "tracker/bug/bug_project_list.html" with project_buglist=project_buglist %}

{% endblock content %}

{% block javascript %}
{% endblock %}