{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static i18n %}

{% block title %}{{ user.username }}{% endblock %}

{% block sidebar %}
  {% include "sidebar.html" %}
{% endblock %}


{% block content %}
<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
  <h1>Create Project</h1>
  <form class="form-horizontal" method="post" action="{% url 'tracker:create-project' %}" id="create">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Create</button>
      </div>
    </div>
  </form>
</main>
{% endblock %}
