{% extends "base.html" %}
{% load static i18n %}
{% block title %}Projects{% endblock %}

{% block content %}
<div class="container">
  <h2>Projects</h2>
  <div class="addproject">
    <a class="btn btn-primary" href="{% url 'tracker:create' %}" role="button">Create Project</a>
  </div>

  <div class="list-group">
    {% for project in project_list %}
      <a href="" class="list-group-item">
        <h4 class="list-group-item-heading">{{ project.project_name }}</h4>
      </a>
    {% endfor %}
  </div>
</div>
{% endblock content %}