{% extends "base.html" %}
{% load static i18n %}

{% block title %}Project: {{ project.project_name }}{% endblock %}

{% block sidebar %}
<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar mt-4">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">{% trans "Dashboard" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'tracker:buglist' %}">{% trans "Bug Reports" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'tracker:projects' %}">{% trans "My Projects" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">{% trans "Statistics" %}</a>
    </li>
  </ul>
</nav>
{% endblock %}


{% block content %}
<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">

  <div class="row">
    <div class="col-sm-12">
      {% if project.tester == request.user %}
        <h1>{{ project.project_name }} <a class="btn btn-primary" href="{% url 'tracker:update' project.project_name|slugify %}" role="button">Edit</a></h1>
      {% endif %}

      {% if project.project_name %}
        <h6>Type:</h6><p>{{ project.type_of_project }}</p>
        <h6>Start Date:</h6> <p>{{ project.start_date }}</p>
        <h6>End Date:</h6> <p>{{ project.end_date }}</p>
        <h6>Staging Site:</h6> <p>{{ project.staging_site }}</p>
        <h6>Production Site:</h6> <p>{{ project.production_site }}</p>

      {% endif %}
    </div>
  </div>
  {% include "tracker/bug/bug_project_list.html" with project_buglist=project_buglist %}


{% if project.tester == request.user %}
<!-- Action buttons -->
  <div class="row">

    <div class="col-sm-12">
      <a class="btn btn-primary btn-margin-top" href="{% url 'tracker:newbug' project.project_name|slugify %}" role="button">Submit Bugs</a>
    </div>

  </div>
<!-- End Action buttons -->
{% endif %}


</main>
{% endblock content %}

{% block javascript %}
{% endblock %}